service: serverless_spacy-cicd
provider:
  name: aws
  runtime: python3.8
  region: us-east-2
  timeout: 60
  environment:
    S3_BUCKET: my-spacy-layer
    MODEL_PATH: my-spacy-layer/spacy_lambda.zip
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - s3:getObject
      Resource: arn:aws:s3:::my-spacy-layer/spacy_lambda.zip

custom:
  pythonRequirements:
    dockerizePip: true

package:
  individually: false
  exclude:
    - package.json
    - package-log.json
    - node_modules/**

functions:
  get_joke:
    handler: handler.lambda_handler
    events:
      - http:
          path: nltk
          method: post

plugins:
  - serverless-python-requirements
